.admin-chart-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.admin-card {
  width: 45%;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
